        <meta charset="UTF-8">
        <title>Ai w-wdasd Vite Tailwind CSS Landing Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Vite Tailwind CSS  Landing Template">
        <meta name="keywords" content="agency, tailwind css">
        <meta name="author" content="chetan">
        <meta name="website" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- favicon -->
        <link rel="shortcut icon" href="__REL_PATH__/images/favicon.ico">