# dependencies
node_modules/
# dist/
public/version.json

# builds and logs
*.log
.vite
.cache
.DS_Store

# system files
Thumbs.db
.vercel

# testing
coverage/
*.lcov

# TypeScript
*.tsbuildinfo
.tsbuildinfo

# environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~
